.op_title {
  font-size: 24px;
  color: red;
}

.op_con1 {
  display: flex;
  outline: 1px solid silver;

  .op_fields {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    outline: 1px solid black;
    padding: 8px;
  }

  .op_drop {
    outline: 1px solid red; // del+
    min-width: 300px;
    min-height: 200px;
  }

  .op_draggable {
    padding-left: 8px;
    &::before {
      content: ':: '
    }
  }
}
