.op_title {
  font-size: 24px;
  color: red;
}

.op_con1 {
  display: flex;
  outline: 1px solid silver;

  .op_fields {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    outline: 1px solid black;
    padding: 8px;
  }

  .op_drop {
    outline: 1px solid red; // del+
    min-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 8px;

    & .op_draggable {
      padding: 6px;
      outline: 1px solid silver;

      & .op_elem {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.op_btn_con {
  display: flex;
  justify-content: flex-end;
}
